# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.bundle

/node_modules

public/builds/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env*

log/

tmp/

spec/examples.txt
