<div class="registration-page">
  <div class="registration-form">
    <div class="registration-logo">
      <h2>Rails Starter</h2>
    </div>
    
    <div id="registration_form">
      <%= render 'registration_form', user: @user %>
    </div>
  </div>
</div> 