<div class="login-page">
  <div class="login-form">
    <div class="login-logo">
      <h2>Rails Starter</h2>
    </div>
    
    <div id="login_form">
      <%= render 'form', user_session: @user_session %>
    </div>
  </div>
</div>

